.notification-area {
  position: fixed;
  z-index: $modal-z + 1;
  right: $block-spacing;
  bottom: $block-spacing;
  $indents: $block-spacing * 2;
  width: calc(50% - #{$indents});

  @media screen and (max-width: $desktop) {
    width: calc(75% - #{$indents});
  }

  @media screen and (max-width: $tablet) {
    width: calc(100% - #{$indents});
  }

  .notification {
    transition: opacity .1s;

    &.v-enter,
    &.v-leave-active {
      opacity: 0.5;
    }
  }
}