@mixin input-with-icons {
  &_filter, &_pattern {
    width: 100%;
  
    svg {
      height: 1.5em;
      width: 1.5em;
    }
  
    &_backspace {
      pointer-events: all;
      cursor: pointer;
  
      &:hover {
        color: $link;
      }
    }
  }
}
