.markdown {
  padding: 0 1em;
  box-sizing: border-box;

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }
    
  h1 {
    font-size: 150%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: 0.75em;
  }

  code {
    display: block;
    border: 1px solid $grey-lighter;
    border-radius: 0.25em;
  }

  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;

    &.img-zoomable {
      cursor: zoom-in;
    }
  }
}
